
*{ 
  font-family: 'Open Sans',Arial, Helvetica,sans-serif;
}




.contenedor-total{
  display:grid;
  grid-template-columns:4fr;
  gap: 20px;
  justify-content:center;
}
.sub-contenedor-social-media{
  display:flex;
  flex-direction: row;
  justify-content:center;
  background-image: linear-gradient(180deg, purple, rgb(73, 5, 73));
  
}
.fa-brands{
  color:greenyellow;
  padding: 10px;
}


.sub-contenedor-logo{
  display: flex;
  justify-content: center;
  background-color:rgb(137, 137, 137);
  background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(0, 8%, 76%, 0.5) 35px, hsla(0, 8%, 76%, 0.5) 40px,
hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
hsla(135, 3%, 76%, 0.5) 60px, hsla(135, 3%, 76%, 0.5) 70px, hsla(120, 3%, 54%, 0.5) 70px, hsla(120, 3%, 54%, 0.5) 80px,
hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(285, 64%, 24%, 0.5) 90px, hsla(285, 64%, 24%, 0.5) 110px,
hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
),
repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(0, 8%, 76%, 0.5) 35px, hsla(0, 8%, 76%, 0.5) 40px,
hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
hsla(135, 3%, 76%, 0.5) 60px, hsla(135, 3%, 76%, 0.5) 70px, hsla(120, 3%, 54%, 0.5) 70px, hsla(120, 3%, 54%, 0.5) 80px,
hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(285, 64%, 24%, 0.5) 90px, hsla(285, 64%, 24%, 0.5) 110px,
hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
);
}

.animate__animated {
  width: 45%;
  
}

.sub-contenedor-nav{
  display:flex;
  flex-direction:row;
  justify-content:center;
  background-image: linear-gradient(180deg, rgb(50, 50, 50), rgb(169, 166, 169));
  padding:10px;

}

.boton_home,.boton_servicios,.boton_ubicacion,.boton_contacto, .boton_api {

color: white;
text-shadow: 2px 2px 3px rgb(25, 24, 24);
text-decoration: none;
padding:10px;
}


.boton_home:hover, .boton_servicios:hover, .boton_ubicacion:hover, .boton_contacto:hover, .boton_api:hover {
  transition:color 0.3s ease-in; 
  color: greenyellow;
  background-color:#51166480;
}


.sub-contenedor-texto{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.dog_1{
  margin-top:5%;
  border: 3px solid #73AD21;
  width: 70%;
  
}

.text-column{
  width: 70%;
  padding: 20px;
}
h2{

  color: #73AD21;
  text-shadow: 2px 2px 3px rgb(148, 143, 143);
}

/* TABLE SERVICIOS */
thead{
  background-color: #73AD21;
  color:whitesmoke;
}

table,tr,td{
  border:1px solid #73AD21;
}

/* UBICACION MAPAS*/

#gmap_canvas{
  border: 3px solid #73AD21;
  width: 70%;

}

.sub-contenedor-footer{
  display:flex;
  justify-content: space-around;
  padding: 10px;
  background-color:rgb(137, 137, 137);
  background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(0, 8%, 76%, 0.5) 35px, hsla(0, 8%, 76%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
  hsla(135, 3%, 76%, 0.5) 60px, hsla(135, 3%, 76%, 0.5) 70px, hsla(120, 3%, 54%, 0.5) 70px, hsla(120, 3%, 54%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(320, 2%, 39%, 0.5) 90px, hsla(320, 2%, 39%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
  ),
repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(0, 8%, 76%, 0.5) 35px, hsla(0, 8%, 76%, 0.5) 40px,
hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
hsla(135, 3%, 76%, 0.5) 60px, hsla(135, 3%, 76%, 0.5) 70px, hsla(120, 3%, 54%, 0.5) 70px, hsla(120, 3%, 54%, 0.5) 80px,
hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(320, 2%, 39%, 0.5) 90px, hsla(320, 2%, 39%, 0.5) 110px,
hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
);
}

body{
  background-color: rgb(247, 242, 242);
}

.LOGO_CHIQUITO{
  width: 200px;
  height: 100px;
  padding: 0px 20px 0px 0px;
  
}
.flex-nav2{
  display:flex;
  flex-direction:column;
  justify-content:center;
  
}
.boton_home2, .boton_servicios2, .boton_ubicacion2, .boton_contacto2, .boton_api2 {
  padding: 10px;
  text-decoration: none;
  color:white;
}
.boton_home2:hover, .boton_servicios2:hover, .boton_ubicacion2:hover, .boton_contacto2:hover,.boton_api2:hover {
  padding: 10px;
  text-decoration: none;
  color:yellowgreen;
}


.COPYRIGHT{
  color: white;
  font-size: 12px;
  padding: 10px;
  text-shadow: 2px 2px 3px rgb(57, 56, 56);
  
}



